<ion-header>
  <ion-toolbar>
    <ion-title>
      MBAColeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="background-color: white">
      <ion-card-title>1- Como descartar o óleo de cozinha?</ion-card-title>
    </ion-card-header>

    <ion-card-content style="background-color: white">
      Após utilizar, armazene o óleo em garrafas de refrigerante PET e leve ao ponto de coleta mais próximo de sua
      residência.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="background-color: white">
      <ion-card-title>2- Onde descartar o óleo de cozinha?</ion-card-title>
    </ion-card-header>

    <ion-card-content style="background-color: white">
      Você pode encontrar os pontos de coleta no mapa do aplicativo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="background-color: white">
      <ion-card-title>3- Preciso me cadastrar pra entregar o óleo?</ion-card-title>
    </ion-card-header>

    <ion-card-content style="background-color: white">
      Não. Apenas armazene o óleo corretamente e descarte no ponto de coleta mais próximo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="background-color: white">
      <ion-card-title>4-Qual o horário de coleta?</ion-card-title>
    </ion-card-header>

    <ion-card-content style="background-color: white">
      Os pontos de coleta funcionam de segunda a sexta, das 8h às 18h.
    </ion-card-content>
  </ion-card>




</ion-content>